<!DOCTYPE html>
<html>
<head>
    <#include "head.ftl"/>
    <link href="/css/basic.css" rel="stylesheet">
    <link href="/css/jquery.steps.css" rel="stylesheet">
    <link href="/js/lib/fileinput/fileinput.min.css" rel="stylesheet">
    <link href="/css/accept.css" rel="stylesheet">
    <style type="text/css">
        .wizard > .content
        {
            background: #eeeeee30;
        }
        #baseinfo .form-group{
        	margin-left: 2px;
    		margin-right: 2px;
        }
    </style>
</head>
<body>
    
    <div class="ibox-content" id="baseinfo">
        <form id="form" action="#" class="wizard-big form-horizontal">
            <h1>项目基本信息</h1>
            <fieldset>
                <div class="form-group">
                <input name="id" id="id" style="display: none;" type="text" >
                    <label for="contacts" class="col-sm-2 control-label">项目名称</label>
                     <div class="col-sm-4">
                        <input name="projectName" type="text" class="form-control required">
                     </div>
                     
                    <label for="certificate" class="col-sm-1 control-label">项目坐落</label>
                   	<div class="col-sm-5">
                       <input name="projectXmzl" type="text" class="form-control required">
                   	</div> 
                     
                </div>
                <div class="form-group">
                   <label for="certificate" class="col-sm-2 control-label">建设单位</label>
                   <div class="col-sm-4">
                       <input name="projectFzr" type="text" class="form-control required">
                   </div>
                   
                   <label for="contacts" class="col-sm-1 control-label">信用代码</label>
                   <div class="col-sm-5">
                   	 <input type="text"  name="creditCode" id ="creditCode" class="form-control"/>
                   </div>
                   
                </div>
                
                <div class="form-group">
                   <label for="lxdh" class="col-sm-2 control-label">联系人</label>
                   <div class="col-sm-4">
                      <input name="lxr" type="text" class="form-control">
                   </div>
                   <label for="lxdh" class="col-sm-1 control-label">联系电话</label>
                   <div class="col-sm-5">
                      <input name="lxdh" type="text" class="form-control ">
                   </div>
                </div>
                <hr/>
                
                <div class="form-group">
               		<label for="contacts" class="col-sm-2 control-label">测绘单位</label>
                    <div class="col-sm-4">
                   	  <input type="text" name="sldw" id ="sldw" class="form-control"/>
                    </div>
	                   
                    <label for="contacts" class="col-sm-1 control-label">信用代码</label>
                    <div class="col-sm-5">
                   	  <input type="text" name="slcreditCode" id ="slcreditCode" class="form-control" />
                    </div>
	                   
	                  <!--  <label for="certificate" class="col-sm-1 control-label">证件号码</label>
	                   <div class="col-sm-2">
	                       <input name="slzjhm" type="text" class="form-control required">
	                   </div> -->
                </div>
                
                <div class="form-group">
                	<label for="certificate" class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-4">
                       <input name="sllxr" type="text" class="form-control">
                    </div>
                    
                    <label for="lxdh" class="col-sm-1 control-label">联系电话</label>
                    <div class="col-sm-5">
                        <input name="sldh" type="text" class="form-control ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="expiryTime" class="col-sm-2 control-label">备注</label>
                     <div class="col-sm-10">
                     	<textarea class="form-control layui-textarea layui-hide" name="projectGk" id = "projectGk"></textarea>
                        <!-- <input name="projectGk" type="textarea" class="form-control"> -->
                     </div>
                </div>
            </fieldset>
            
            <h1>幢基本信息</h1>
            <fieldset>
                 <!-- 
                <div class="form-group" >
                    <label for="cname" class="col-sm-2 control-label">受理编号</label>
                    <div class="col-sm-10">
                        <input readOnly="readOnly" style="width:87%;display:inline-block;" name="projectNo" type="text" class="form-control ">
                        <button type='button' id="xmbhsh" class='btn btn-info deleteUserButton' style="width:12%;vertical-align:baseline;background:#1AB394;">生成编号</button>
                    </div>
                </div>
                -->
                <div class="form-group">
                     
                     <label for="contacts" class="col-sm-2 control-label">测绘类型</label>
                     <div class="col-sm-4">
                        <select name="chlx" id="chlx" class="form-control"></select>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">幢号</label>
                     <div class="col-sm-5">
                        <input name="lpzh" type="text" class="form-control">
                     </div>
                </div>
                
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">不动产权证号</label>
                     <div class="col-sm-4">
                        <input name="bdcqzh" type="text" class="form-control">
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label" style="font-size: 11px">规划许可证号</label>
                     <div class="col-sm-5">
                        <input name="ghxkzh" type="text" class="form-control">
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">建筑结构</label>
                     <div class="col-sm-4">
                        <select name="jzjg" id ="jzjg" class="form-control"></select>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">总层数</label>
                     <div class="col-sm-5">
                        <input name="zcs" type="number" class="form-control" >
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">地下层数</label>
                     <div class="col-sm-4">
                        <input name="dxcs" type="number" class="form-control" >
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">地上层数</label>
                     <div class="col-sm-5">
                        <input name="dscs" type="number" class="form-control" >
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">规划用途</label>
                     <div class="col-sm-4">
                        <input type="text" name="ghyt" id="ghyt" type="text" class="form-control"/>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">总建筑面积</label>
                     <div class="col-sm-5">
                        <input name="zjzmj" type="number" class="form-control">
                     </div>
                </div>
                
                <div class="form-group" >
                    <label for="cname" class="col-sm-2 control-label">项目坐落</label>
                    <div class="col-sm-10">
                        <input readOnly="readOnly" name="xmzl" type="text" class="form-control ">
                    </div>
                </div>
                
                
            </fieldset> 
            
            
           
        </form>
    </div>
<#include "script.ftl"/>
<script src="/js/lib/fileinput/fileinput.min.js"></script>
<script src="/js/lib/fileinput/fileinput/zh.min.js"></script>
<script src="/js/jquery.steps.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/message_cn.js"></script>
<script type="text/javascript">

$(document).ready(function(){
   initMesage();
   var id = getParameterByName('id');
   
   if(id){
       $('#baseinfo').find('input,textarea,select').attr('readOnly',true);
       $('#baseinfo').find('select').attr('disabled',true);
   }
   $('#id').val(id);
   var labelsInfo = {finish:"最后一页",next:"下一步",previous:"上一步",cancel:"取消"};
   $("#form").steps({
        bodyTag: "fieldset",
        labels: labelsInfo,
        startIndex:1,
        onStepChanged: function (event, currentIndex, priorIndex)
        {
            
            if(acceptance){
                return ;
            }
        },
        onFinished: function (event, currentIndex)
        {
            if(acceptance != '2'){
                layer.alert("当前已是最后一页! ", {icon: 1});
                return ;
            }
            
        },
        onInit:function(event, currentIndex, priorIndex){
        }
    }).validate({
        errorPlacement: function (error, element)
        {
            element.before(error); 
        }
    }); 
   
   
});
</script>
<script>
var url = "/commodityHouse";
var manageUrl = "/manage/commodityHouse";
var id = getParameterByName('id');
var applyId = getParameterByName('applyId');

var insertUrl;
$('#id').val(id);
var mapfile = {};
var load = function() {

    var key = "commercial";
    $.ajax({ url:"/workFlow/filesByKey?key="+key, success: function(data){
        $.ajax({url:"/house/file/id?applyid=" + applyId,success: function(dataFile){
            var filestable = $("#files");
            filestable.empty();
            for (var i=0;i<data.length;i++)
            {
                var rowData = data[i];
                
                if(!rowData){
                    continue;
                }
                
                var files ;
                var siffFile;
                if(mapfile[rowData.id] == null){
                	files = dataFile[rowData.id];
                	siffFile = dataFile[rowData.id] === undefined?undefined:dataFile[rowData.id][0].fileId;
                }else{
                	files = mapfile[rowData.id];
                	siffFile = mapfile[rowData.id];
                }
                
                var filebutton = "";
                
                if(rowData.fileType === 'jpg'){
                    if(jQuery.isArray(files)){
                        filebutton = files === undefined?"":"<button type='button' onclick='viewJpgFile(" + JSON.stringify(files) + "," + JSON.stringify(rowData.fileType) + ");' class='btn btn-info btn-xs viewButton'>预览</button>";
                    }else{
                        filebutton = files === undefined?"":"<button type='button' onclick='viewfile(\""+files + "\",\""+rowData.fileType+"\");' class='btn btn-info btn-xs viewButton'>预览</button>";
                    }
                }else if(rowData.fileType === 'siff'){
                	filebutton = files === undefined?"": "<button type='button' onclick='downloadFile(\""+siffFile + "\");' class='btn btn-danger btn-xs'>下载</button>";
                	filebutton += files === undefined?"":"<button type='button' onclick='openCad(\""+siffFile + "\");' class='btn btn-info btn-xs'>预览</button>";
                }else if(rowData.fileType === 'dwg'){
                	var btnfile = "<button type='button' onclick='downloadFile(\""+siffFile + "\");' class='btn btn-danger btn-xs'>下载</button>";
               	 	filebutton = files === undefined?"": btnfile;
                }else{
                    filebutton = files === undefined?"":"<button type='button' onclick='viewfile(\""+files[0].fileId + "\",\""+rowData.fileType+"\");' class='btn btn-info btn-xs viewButton'>预览</button>";
                }
               
                var row = "<tr><td hidden=>" + rowData.id +"</td><td hidden=>" + JSON.stringify(files) + "</td>"
                        + "<td style='text-align: left;'>&nbsp; " + rowData.fileName + "</td><td>" + rowData.fileType + "</td>"
                    row += "<td style='text-align: right;'>" + filebutton
                        + "</tr>";
                filestable.append(row);
            }
        }});
        
    }});

    loadStype("commodityhouse.project.projectType","projectType");
    
    if(id){
         $.ajax({ url: "/dossier/old/getOne?hisId="+applyId, success: function(obj){
            $('input[name=id]').val(obj.applyid)
            $('input[name=projectNo]').val(obj.applyid)
            $("#projectNo").val(obj.applyId);
            $('input[name=projectName]').val(obj.proname)
            $('input[name=projectType]').val(obj.projectType)
            $('input[name=projectFzr]').val(obj.jsdw)
            $('#projectGk').val(obj.remark == null ?"":obj.remark)
            $('input[name=lxdh]').val(obj.lxdh)
            $('input[name=lxr]').val(obj.lxr)
            $('input[name=sldw]').val(obj.chdw)
            $('input[name=slzjhm]').val(obj.slzjhm)
            $('input[name=sllxr]').val(obj.chdwlxr)
            $('input[name=sldh]').val(obj.chdwlxdh)
            $('input[name=projectXmzl]').val(obj.xmzl)
            $('input[name=creditCode]').val(obj.jsdwcode)
            $('input[name=slcreditCode]').val(obj.chdwcode)
            
            $('input[name=slbh]').val(obj.applyid);
           // $('input[name=slsj]').val(obj.applyBuild.slsj);
            $('input[name=chlx]').val(obj.chlx);
            //$('input[name=sbr]').val(obj.applyBuild.sbr);
            $('input[name=lpzh]').val(obj.lpzh);
            $('input[name=bdcqzh]').val(obj.bdcqzh);
            $('input[name=ghxkzh]').val(obj.ghxkzh);
            $('input[name=jzjg]').val(obj.jzjg);
            $('input[name=zcs]').val(obj.zcs);
            $('input[name=dxcs]').val(obj.dxcs);
            $('input[name=dscs]').val(obj.dscs);
            $('input[name=ghyt]').val(obj.ghyt);
            $('input[name=zjzmj]').val(obj.zmj);
            $('input[name=xmzl]').val(obj.xmzl);
            
            //loadStype("commodityhouse.project.projectType","projectType",obj.projectType);
            loadStype("commodity.house.chlx","chlx",obj.chlx);
            loadStype("house.buildStructure.type","jzjg",obj.jzjg);
        }}); 
         
    }
    
};
var loadStype = function(configPrefix,table,aptitude) {
    $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefix, success: function(data){
        var tables = $("#" + table + "");
        tables.empty();
        $.each(data,function(index,obj){
            var arr = obj.value;
            var strs= new Array();
            strs = arr.split(",");
            for(var i=0;i<strs.length ;i++){
                var rowData = strs[i];
               	if(typeof(aptitude) == 'undefined' || aptitude == null){
               		aptitude = "-fail";
               	}
                if(aptitude.search(rowData) != -1){
                    tables.append("<option value='"+rowData+"' selected>" + rowData + "</option>");
                }else{
                    tables.append("<option value='"+rowData+"'>" + rowData + "</option>");
                }
            }
        });
    }});
};

var loadBuildNos = function(table,params) {
    var tables = $("#" + table + "");
    tables.empty();
    $("#buildings").find('tr').each(function(i,v){
        var lpzh = $(v).find("td:eq(2)").text();
        if(params == lpzh){
            tables.append("<option value='"+lpzh+"' selected>" + lpzh + "</option>");
        }else{
            tables.append("<option value='"+lpzh+"'>" + lpzh + "</option>");
        }
     });
};
/* 
function viewfile(fileId,fileType) {
    var configPrefixFileUrl = "house.file.url";
    var configPrefixServer = "house.file.serverurl";
    
    $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefixServer, success: function(service){
        $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefixFileUrl, success: function(downfile){
            
            var arr = fileId.split(",");
            if(arr.lengh === 1){
                var file = "http://" + downfile[0].value + "/open/files/"+fileId;
                var url = "http://" + service[0].value + "/onlinePreview?url=" + encodeURIComponent(file) + "&fileType=" + fileType;
                var winHeight = window.document.documentElement.clientHeight-10;
                window.open(url, "_blank", "height=" + winHeight
                        + ",top=80,left=80,toolbar=no, menubar=no, scrollbars=yes, resizable=yes"); 
            }else{
                var urls = "";
                for (i=0;i<arr.length ;i++ ) 
                { 
                    if(i === arr.length - 1){
                        urls += "http://" + downfile[0].value + "/open/files/" + arr[i];
                    }else{
                        urls += "http://" + downfile[0].value + "/open/files/" + arr[i] + "|";
                    }
                } 
                
                var url = "http://" + service[0].value + "/picturesPreview?urls=" + encodeURIComponent(urls) + "&currentUrl=http://localhost:9080";
                var winHeight = window.document.documentElement.clientHeight-10;
                window.open(url, "_blank", "height=" + winHeight
                        + ",top=80,left=80,toolbar=no, menubar=no, scrollbars=yes, resizable=yes"); 
            }
            
        }});
    }});
}
 */
function isJSON(str) {
    if (typeof str == 'string') {
        try {
            var obj=JSON.parse(str);
            if(typeof obj == 'object' && obj ){
                return true;
            }else{
                return false;
            }

        } catch(e) {
            return false;
        }
    }
}
/* 
var configPrefixFileUrl = "house.file.url";
var configPrefixServer = "house.file.serverurl";
var a1 = $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefixServer, success: function(service){}});
var a2 = $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefixFileUrl, success: function(downfile){}});

function viewJpgFile(fileIds, fileType) {
    
	$.when(a1, a2).done(function(service, downfile) { 
        var urls = '';
        var fileServiceUrl = service[0][0].value;
        var localUrl = downfile[0][0].value;
        
        $.each(fileIds, function(index, value){
            if(index === fileIds.length - 1){
                urls += "http://" + localUrl + "/open/files/" + value['fileId'];
                
                return true;
            }
            urls += "http://" + localUrl + "/open/files/" + value['fileId'] + "|";
        });
        
        var url = "http://" + fileServiceUrl + "/picturesPreview?urls=" + encodeURIComponent(urls) + "&currentUrl=http://" + localUrl;
        var winHeight = window.document.documentElement.clientHeight-10;
        window.open(url, "_blank", "height=" + winHeight
                + ",top=10,left=80,bottom= 10,toolbar=no, menubar=no, scrollbars=yes, resizable=yes"); 
    });
}
 */
function download(fileId,configPrefixServer){
    SIDraw.CancelCmd();
    $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefixServer, success: function(service){
        SIDraw.DownloadData("http://" + service[0].value +"/open/files/" + fileId, "");
    }});
}

function downloadFile(fileId){
	if(fileId){
		self.location.href="/open/files/"+fileId;
	}
}

function openCad(fileId){
    layer.open({
      type: 2, //Layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）,
      shade:0.1, //遮罩层透明度
      area:['100%','100%'], //弹出层宽高
      title:'CAD图查看',//弹出层标题
      content: ['cad.html?fileid='+fileId, 'no']
    });
}

load();
</script>
</body>
</html>