<!DOCTYPE html>
<html>
<head>
<#include "head.ftl"/>
</head>
<style type="text/css">
    #searchList li{
        float:left;
    }
    #searchList .form-control{
        display:inline-block;
        width:180px;
        margin-left:10px;
    }
    .divmatnrdesc{
       margin-left: 0px;
       overflow:hidden;
       white-space:nowrap;
       text-overflow:ellipsis;
       max-width: 130px;
    }
    #tooltipdiv {
        position: absolute;
        border: 1px solid #333;
        background: #f7f5d1;
        padding: 3px 3px 3px 3px;
        color: #333;
        display: none;
        font-size: 10px;
    }
</style>

<body>

<div class="modal fade" id="saveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">批注信息</h4>
        <input type="text" id="taskid" style="display: none;"/>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="formulaForm">
          <div>
            <table class="table table-bordered" >
                <thead>
                    <tr>
                       <th>任务环节名称</th>
                       <th>办理人</th>
                       <th>批注信息</th>
                       <th>批注时间</th>
                    </tr>
                </thead>
                <tbody id="processbaseInfo" style="border:1px solid #666;"></tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content float-e-margins">
	
	<div class="row" style="margin-top:10px;margin-bottom:10px;">
        <div class="col-md-12">
          <div class="input-group">
            <div class="form-inline" style="margin-bottom:10px;">
               
                <div class="form-group" style="margin-right:15px;">
                    <label class="control-label">申请编号</label>
                    <div class="input-group">
                       <input type="text" class="form-control" id="qApplyId" style="width:190px;"/>
                   </div>
                </div>
                <div class="form-group" style="margin-right:10px;">
                    <label class="control-label">申 请 人&nbsp;</label>
                    <div class="input-group">
                       <input type="text" class="form-control" id="qXmmc" style="width:190px;"/>
                   </div>
                </div>
                <div class="form-group" style="margin-right:10px;">
                    <label class="control-label">归档位置</label>
                    <div class="input-group">
                       <input type="text" class="form-control" id="qGdwz" style="width:190px;"/>
                   </div>
                </div>
            </div>  
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="input-group">
            <div class="form-inline" style="margin-bottom:10px;">
                <div class="form-group" style="margin-right:15px;">
                    <label class="control-label">建设单位</label>
                    <div class="input-group" style="width:190px;">
                    	<input type="text" class="form-control" id="qJsdw" style="width:190px;"/>
                   	</div>
                </div>
                <div class="form-group" style="margin-right:10px;">
                    <label class="control-label">项目坐落</label>
                    <div class="input-group" style="width:190px;">
                    	<input type="text" class="form-control" id="qXmzl" style="width:190px;"/>
                   	</div>
                </div>
                <div class="form-group" style="margin-right:10px;">
                    <label class="control-label">楼盘幢号</label>
                    <div class="input-group">
                       <input type="text" class="form-control" id="qLpzh" style="width:190px;"/>
                   </div>
                </div>
               	<button id="searchButton" type="button" class="btn btn-primary btn-sm">查询</button>
               	<button id="cleanButton" type="button" class="btn btn-primary btn-sm">清空</button>
               	<!-- 
               	<button id="test2Button" type="button" class="btn btn-primary btn-sm">test</button>
            	  -->
            </div>  
          </div>
        </div>
      </div>
	
	<div class="row">
    	<div class="col-md-12">
		    <table class="table table-bordered">
		      <thead>
		        <tr>
		            <th>申请编号</th>
		            <th>申请人（委托书）</th>
		            <th>幢号</th>
		            <th>测绘类型</th>
		            <th>项目坐落</th>
		            <th>申请时间</th>
		            <th>归档地址</th>
		            <th>操作/siff图下载</th>
		        </tr>
		      </thead>
		      <tbody id="dataTable"></tbody>
		    </table>
    
    		<div class="hr-line-dashed"></div>
		    <div class="text-center">
		        <div class="btn-group" id="pagination">
		        </div>
		    </div>
    	</div>
  	</div>
</div>

<#include "script.ftl"/>
<script src="/js/common.js"></script>
<script src="/js/lib/layui/layui.js"></script>
<script type="text/javascript">
layui.use('laydate', function(){
    var laydate = layui.laydate;
  //年选择器
    laydate.render({
      elem: '#qGdrq'
      ,type: 'datetime'
      ,range: '~'
      ,format: 'yyyy-M-d'
    });
})
$(document).ready(function(){
    /**初始化事件，加载数据*/
    var url = "/dossier";
    var manageUrl = "/manage/dossier";
    var pageSize = 10;
    var operationtype = 0;
    
    loadStype("commodity.house.chlx","typeSelect","")
    
    var load = function(pageNum) {
        pageNum = defaultV(pageNum, 1);
        
        var param = {};
        param.proName = $("#qXmmc").val().trim();
        param.applyId = $("#qApplyId").val().trim();
        param.ghno = $("#qGdwz").val().trim();
        param.jsdw = $("#qJsdw").val().trim();
        param.xmzl = $("#qXmzl").val().trim();
        param.lpzh = $("#qLpzh").val().trim();
        
        
        param.pageNum = pageNum;
        
        $.ajax({ type:"POST",
            url: "/dossier/old/dossier",
            contentType:"application/json",
            data:JSON.stringify(param),
            success: function(obj){
	            var table = $("#dataTable");
	            table.empty();
	            var data = obj.data;
	            for (var i=0;i<data.length;i++)
	            {
	                var rowData = data[i];
	                var lpzh = rowData.lpzh==null?"":rowData.lpzh;
	                var chlx = rowData.chlx=="1"?"实测":"预测";
	                var yxx = rowData.yxx==0?"有效":"无效";
	                var gdno = rowData.gdno==null?"":rowData.gdno;
	                
	                var row = "<tr><td hidden>" + rowData.zhid +"</td>"
	                			+"<td style='text-align: left;'>" + rowData.hisId +"</td>"
	                			 + getTdText(rowData.proname,180)
	                            +"<td>" + lpzh + "</td>"
	                            +"<td>" + chlx + "</td>"
	                            + getTdText(rowData.xmzl,160)
	                           // +"<td style='text-align: left;'>" + rowData.jsdw + "</td>"
	                            +"<td>" + moment(rowData.applyDateTime).format("YYYY-MM-DD") + "</td>"
	                            +"<td>" + gdno + "</td>";
	                row += "<td>"
	                	+ "<button type='button' class='btn btn-info btn-xs viewButton'>查看</button>"
                 		+ "<button type='button' class='btn btn-danger btn-xs downSiffButton'>下载</button>"
	                    +"</td></tr>";
	                table.append(row);
	            }
	            
	            pagination(obj.count, pageNum, pageSize);
        }});
    };
    
    $("#searchButton").on("click", function() {
        load();
    });
    
    $("#exportFileButton").on("click", function() {
    	self.location.href="/exprot/files/dossier/2";
    });
    
    $("#cleanButton").on("click", function() {
    	$("#qXmmc").val("");
        $("#typeSelect").val("");
        $("#qApplyId").val("");
        $("#qGdwz").val("");
        $("#qJsdw").val("");
        $("#qXmzl").val("");
        $("#qLpzh").val("");
        $("#qGdrq").val("")
    });
    
    $("#testButton").on("click", function() {
    	$.ajax({url: manageUrl + "/save?applyId="+encodeURI('20200904000001'), 
            success: function(data){
          	  layer.alert("归档成功！", {icon: 1, time : 1500});
                load();
            }
        });
    });
    
    
    $("#test2Button").on("click", function() {
    	self.location.href="/dossier/old/getOne/siff?hisId=" +encodeURI('200701531');
    });
    
    $("#pagination").on("click", ".pageBtn", function() {
        load(parseInt($(this).attr("data")));
    });
   
    
    $("#dataTable").on("click",".viewButton",function(){
    	var idTd = $(this).parents('tr').children().first();
        var id = idTd.text();
        var applyId = idTd.next().text();
        layer.open({
            type: 2,
            title: '查看',
            area: ['100%', '100%'],
            content: 'dataInfo_view.html?id=' + id + "&applyId=" + applyId,
            scrollbar: false,
            end: function () {
                location.reload();
            }
        });
    })
    
    $("#dataTable").on("click",".downSiffButton",function(){
    	var row = $(this).parent().parent();
        var idTd = row.children().first();
        var id = idTd.next().text();
        self.location.href="/dossier/old/getOne/siff?hisId=" +encodeURI(id);
    })
    
    
    $("#dataTable").on("click",".deleteButton",function(){
        var row = $(this).parent().parent();
        var idTd = row.children().first();
        var id = idTd.text();
        var rnameTd = idTd.next().next();
        var rname = rnameTd.text();
        
        layer.confirm("确定删除名称为" + rname +"的信息？", {icon: 3, title: "删除档案"}, function(index){
            $.ajax({
                type:"DELETE",
                url: manageUrl + "/remove/" + id,
                success: function(data){
                    layer.alert("删除成功!", {icon: 1, time : 1500});
                    load();
                },
                error: function(e,xhr,opt){
                    layer.alert("删除失败! " + e.responseJSON.message, {icon: 2});
                }
            });
            
            layer.close(index);
        });
    })
    
    load();
});

function getTdText(name,size,align){
    var nameText = name==null?"":name;
    var auto = 'left';
    if(align){
    	auto = align;
    }
    return "<td style='text-align: " + auto + "; width:"+size+"px'><div class='divmatnrdesc'style='max-width:"+size+"px;'>" + nameText + "</div></td>";
}

var loadStype = function(configPrefix,table,aptitude) {
    $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefix,async:false, success: function(data){
        var tables = $("#" + table + "");
        tables.empty();
        $.each(data,function(index,obj){
            var arr = obj.value;
            var strs= new Array();
            strs = arr.split(",");
            
            tables.append("<option value=''>-- 请选择 --</option>");
            for(var i=0;i<strs.length ;i++){
                var rowData = strs[i];
               	if(typeof(aptitude) == 'undefined' || aptitude == null){
               		aptitude = "-fail";
               	}
                if(aptitude.search(rowData) != -1){
                    tables.append("<option value='"+rowData+"' selected>" + rowData + "</option>");
                }else{
                    tables.append("<option value='"+rowData+"'>" + rowData + "</option>");
                }
            }
        });
    }});
};
</script>
</body>
</html>