<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwch.survey.dao.mapper.ApplyCadastreMapper">
  <resultMap id="BaseResultMap" type="com.lwch.survey.model.ApplyCadastre">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="pro_xmzl" jdbcType="VARCHAR" property="proXmzl" />
    <result column="tdsymj" jdbcType="DOUBLE" property="tdsymj" />
    <result column="tdyt" jdbcType="VARCHAR" property="tdyt" />
    <result column="tdsyqlx" jdbcType="VARCHAR" property="tdsyqlx" />
    <result column="tdsynx" jdbcType="VARCHAR" property="tdsynx" />
    <result column="jsdw" jdbcType="VARCHAR" property="jsdw" />
    <result column="jsdw_code" jdbcType="VARCHAR" property="jsdwCode" />
    <result column="lxr" jdbcType="VARCHAR" property="lxr" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="chdw" jdbcType="VARCHAR" property="chdw" />
    <result column="chdw_code" jdbcType="VARCHAR" property="chdwCode" />
    <result column="chdwlxr" jdbcType="VARCHAR" property="chdwlxr" />
    <result column="chdwlxdh" jdbcType="VARCHAR" property="chdwlxdh" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pro_name, pro_xmzl, tdsymj, tdyt, tdsyqlx, tdsynx, jsdw, jsdw_code, lxr, lxdh, 
    chdw, chdw_code, chdwlxr, chdwlxdh, remark, create_time
  </sql>
  <select id="selectByExample" parameterType="com.lwch.survey.model.ApplyCadastreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from apply_cadastre
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply_cadastre
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from apply_cadastre
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lwch.survey.model.ApplyCadastreExample">
    delete from apply_cadastre
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lwch.survey.model.ApplyCadastre">
    insert into apply_cadastre (id, pro_name, pro_xmzl, 
      tdsymj, tdyt, tdsyqlx, 
      tdsynx, jsdw, jsdw_code, 
      lxr, lxdh, chdw, chdw_code, 
      chdwlxr, chdwlxdh, remark, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{proXmzl,jdbcType=VARCHAR}, 
      #{tdsymj,jdbcType=DOUBLE}, #{tdyt,jdbcType=VARCHAR}, #{tdsyqlx,jdbcType=VARCHAR}, 
      #{tdsynx,jdbcType=VARCHAR}, #{jsdw,jdbcType=VARCHAR}, #{jsdwCode,jdbcType=VARCHAR}, 
      #{lxr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{chdw,jdbcType=VARCHAR}, #{chdwCode,jdbcType=VARCHAR}, 
      #{chdwlxr,jdbcType=VARCHAR}, #{chdwlxdh,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lwch.survey.model.ApplyCadastre">
    insert into apply_cadastre
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="proXmzl != null">
        pro_xmzl,
      </if>
      <if test="tdsymj != null">
        tdsymj,
      </if>
      <if test="tdyt != null">
        tdyt,
      </if>
      <if test="tdsyqlx != null">
        tdsyqlx,
      </if>
      <if test="tdsynx != null">
        tdsynx,
      </if>
      <if test="jsdw != null">
        jsdw,
      </if>
      <if test="jsdwCode != null">
        jsdw_code,
      </if>
      <if test="lxr != null">
        lxr,
      </if>
      <if test="lxdh != null">
        lxdh,
      </if>
      <if test="chdw != null">
        chdw,
      </if>
      <if test="chdwCode != null">
        chdw_code,
      </if>
      <if test="chdwlxr != null">
        chdwlxr,
      </if>
      <if test="chdwlxdh != null">
        chdwlxdh,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proXmzl != null">
        #{proXmzl,jdbcType=VARCHAR},
      </if>
      <if test="tdsymj != null">
        #{tdsymj,jdbcType=DOUBLE},
      </if>
      <if test="tdyt != null">
        #{tdyt,jdbcType=VARCHAR},
      </if>
      <if test="tdsyqlx != null">
        #{tdsyqlx,jdbcType=VARCHAR},
      </if>
      <if test="tdsynx != null">
        #{tdsynx,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null">
        #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="jsdwCode != null">
        #{jsdwCode,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null">
        #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="chdw != null">
        #{chdw,jdbcType=VARCHAR},
      </if>
      <if test="chdwCode != null">
        #{chdwCode,jdbcType=VARCHAR},
      </if>
      <if test="chdwlxr != null">
        #{chdwlxr,jdbcType=VARCHAR},
      </if>
      <if test="chdwlxdh != null">
        #{chdwlxdh,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lwch.survey.model.ApplyCadastreExample" resultType="java.lang.Long">
    select count(*) from apply_cadastre
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update apply_cadastre
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.proName != null">
        pro_name = #{record.proName,jdbcType=VARCHAR},
      </if>
      <if test="record.proXmzl != null">
        pro_xmzl = #{record.proXmzl,jdbcType=VARCHAR},
      </if>
      <if test="record.tdsymj != null">
        tdsymj = #{record.tdsymj,jdbcType=DOUBLE},
      </if>
      <if test="record.tdyt != null">
        tdyt = #{record.tdyt,jdbcType=VARCHAR},
      </if>
      <if test="record.tdsyqlx != null">
        tdsyqlx = #{record.tdsyqlx,jdbcType=VARCHAR},
      </if>
      <if test="record.tdsynx != null">
        tdsynx = #{record.tdsynx,jdbcType=VARCHAR},
      </if>
      <if test="record.jsdw != null">
        jsdw = #{record.jsdw,jdbcType=VARCHAR},
      </if>
      <if test="record.jsdwCode != null">
        jsdw_code = #{record.jsdwCode,jdbcType=VARCHAR},
      </if>
      <if test="record.lxr != null">
        lxr = #{record.lxr,jdbcType=VARCHAR},
      </if>
      <if test="record.lxdh != null">
        lxdh = #{record.lxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.chdw != null">
        chdw = #{record.chdw,jdbcType=VARCHAR},
      </if>
      <if test="record.chdwCode != null">
        chdw_code = #{record.chdwCode,jdbcType=VARCHAR},
      </if>
      <if test="record.chdwlxr != null">
        chdwlxr = #{record.chdwlxr,jdbcType=VARCHAR},
      </if>
      <if test="record.chdwlxdh != null">
        chdwlxdh = #{record.chdwlxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update apply_cadastre
    set id = #{record.id,jdbcType=VARCHAR},
      pro_name = #{record.proName,jdbcType=VARCHAR},
      pro_xmzl = #{record.proXmzl,jdbcType=VARCHAR},
      tdsymj = #{record.tdsymj,jdbcType=DOUBLE},
      tdyt = #{record.tdyt,jdbcType=VARCHAR},
      tdsyqlx = #{record.tdsyqlx,jdbcType=VARCHAR},
      tdsynx = #{record.tdsynx,jdbcType=VARCHAR},
      jsdw = #{record.jsdw,jdbcType=VARCHAR},
      jsdw_code = #{record.jsdwCode,jdbcType=VARCHAR},
      lxr = #{record.lxr,jdbcType=VARCHAR},
      lxdh = #{record.lxdh,jdbcType=VARCHAR},
      chdw = #{record.chdw,jdbcType=VARCHAR},
      chdw_code = #{record.chdwCode,jdbcType=VARCHAR},
      chdwlxr = #{record.chdwlxr,jdbcType=VARCHAR},
      chdwlxdh = #{record.chdwlxdh,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lwch.survey.model.ApplyCadastre">
    update apply_cadastre
    <set>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proXmzl != null">
        pro_xmzl = #{proXmzl,jdbcType=VARCHAR},
      </if>
      <if test="tdsymj != null">
        tdsymj = #{tdsymj,jdbcType=DOUBLE},
      </if>
      <if test="tdyt != null">
        tdyt = #{tdyt,jdbcType=VARCHAR},
      </if>
      <if test="tdsyqlx != null">
        tdsyqlx = #{tdsyqlx,jdbcType=VARCHAR},
      </if>
      <if test="tdsynx != null">
        tdsynx = #{tdsynx,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null">
        jsdw = #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="jsdwCode != null">
        jsdw_code = #{jsdwCode,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null">
        lxr = #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="chdw != null">
        chdw = #{chdw,jdbcType=VARCHAR},
      </if>
      <if test="chdwCode != null">
        chdw_code = #{chdwCode,jdbcType=VARCHAR},
      </if>
      <if test="chdwlxr != null">
        chdwlxr = #{chdwlxr,jdbcType=VARCHAR},
      </if>
      <if test="chdwlxdh != null">
        chdwlxdh = #{chdwlxdh,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lwch.survey.model.ApplyCadastre">
    update apply_cadastre
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_xmzl = #{proXmzl,jdbcType=VARCHAR},
      tdsymj = #{tdsymj,jdbcType=DOUBLE},
      tdyt = #{tdyt,jdbcType=VARCHAR},
      tdsyqlx = #{tdsyqlx,jdbcType=VARCHAR},
      tdsynx = #{tdsynx,jdbcType=VARCHAR},
      jsdw = #{jsdw,jdbcType=VARCHAR},
      jsdw_code = #{jsdwCode,jdbcType=VARCHAR},
      lxr = #{lxr,jdbcType=VARCHAR},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      chdw = #{chdw,jdbcType=VARCHAR},
      chdw_code = #{chdwCode,jdbcType=VARCHAR},
      chdwlxr = #{chdwlxr,jdbcType=VARCHAR},
      chdwlxdh = #{chdwlxdh,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>