<!DOCTYPE html>
<html>
<head>
    <#include "head.ftl"/>
    <link href="/css/basic.css" rel="stylesheet">
    <link href="/css/jquery.steps.css" rel="stylesheet">
    <link href="/js/lib/fileinput/fileinput.min.css" rel="stylesheet">
    <link href="/css/accept.css" rel="stylesheet">
    <style type="text/css">
        .wizard > .content
        {
            background: #eeeeee30;
        }
        #baseinfo .form-group{
        	margin-left: 2px;
    		margin-right: 2px;
        }
    </style>
</head>
<body>
    <!-- 文件上传 -->
    <div class="modal fade" id="saveModal">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <input type="text" name="fileManageId" id="fileManageId" style="display: none;">
            <h4 class="modal-title">文件信息</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" id="fileForm">
                <div class="form-group">
                    <label for="codefile" class="col-sm-2 control-label">文件上传</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="configFile" id="configFile" placeholder="请上传.rar、.doc文件" required="required">
                        <a id="configFileDownload" hidden="hidden">下载</a>
                        <input id="input-configfile" type="file" name="file" multiple class="file-loading">
                    </div>
                </div>
            </form>
          </div>
        </div>
        </div>
    </div>
    
    <div class="ibox-content" id="baseinfo">
        <form id="form" action="#" class="wizard-big form-horizontal">
            <h1>项目基本信息</h1>
            <fieldset>
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">项目名称</label>
                     <div class="col-sm-4">
                        <input name="id" id="id" type="text" style="display: none;" class="form-control">
                        <input name="proName" type="text" class="form-control required">
                     </div>
                     
                    <label for="certificate" class="col-sm-1 control-label">项目坐落</label>
                   	<div class="col-sm-5">
                       <input name="proXmzl" type="text" class="form-control required">
                   	</div> 
                </div>
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">土地使用面积</label>
                     <div class="col-sm-4">
                        <input name="tdsymj" type="number" class="form-control required">
                     </div>
                     
                    <label for="certificate" class="col-sm-1 control-label">土地用途</label>
                   	<div class="col-sm-5">
                       <input name="tdyt" type="text" class="form-control required">
                   	</div> 
                </div>
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">容积率</label>
                     <div class="col-sm-4">
                        <input name="rjl" type="text" class="form-control required">
                     </div>
                     
                    <label for="certificate" class="col-sm-1 control-label" >建筑密度</label>
                   	<div class="col-sm-5">
                       <input name="jzmd" type="text" class="form-control required">
                   	</div> 
                </div>
                <div class="form-group">
                   <label for="certificate" class="col-sm-2 control-label">建设单位</label>
                   <div class="col-sm-4">
                       <input name="jsdw" type="text" class="form-control required">
                   </div>
                   
                   <label for="contacts" class="col-sm-1 control-label">信用代码</label>
                   <div class="col-sm-5">
                   	 <input type="text"  name="jsdwCode" id ="jsdwCode" class="form-control required"/>
                   </div>
                   
                </div>
                
                <div class="form-group">
                   <label for="lxdh" class="col-sm-2 control-label">联系人</label>
                   <div class="col-sm-4">
                      <input name="lxr" type="text" class="form-control required">
                   </div>
                   <label for="lxdh" class="col-sm-1 control-label">联系电话</label>
                   <div class="col-sm-5">
                      <input name="lxdh" type="text" class="form-control phone required">
                   </div>
                </div>
                <hr/>
                
                <div class="form-group">
               		<label for="contacts" class="col-sm-2 control-label">测绘单位</label>
                    <div class="col-sm-4">
                   	  <input type="text" name="chdw" id ="chdw" class="form-control required"/>
                    </div>
	                   
                    <label for="contacts" class="col-sm-1 control-label">信用代码</label>
                    <div class="col-sm-5">
                   	  <input type="text" name="chdwCode" id ="chdwCode" class="form-control required" />
                    </div>
	                   
	                  <!--  <label for="certificate" class="col-sm-1 control-label">证件号码</label>
	                   <div class="col-sm-2">
	                       <input name="slzjhm" type="text" class="form-control required">
	                   </div> -->
                </div>
                
                <div class="form-group">
                	<label for="certificate" class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-4">
                       <input name="chdwlxr" type="text" class="form-control required">
                    </div>
                    
                    <label for="lxdh" class="col-sm-1 control-label">联系电话</label>
                    <div class="col-sm-5">
                        <input name="chdwlxdh" type="text" class="form-control phone required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="expiryTime" class="col-sm-2 control-label">备注</label>
                     <div class="col-sm-10">
                     	<textarea class="form-control layui-textarea layui-hide" name="remark" id = "remark"></textarea>
                        <!-- <input name="projectGk" type="textarea" class="form-control"> -->
                     </div>
                </div>
            </fieldset>
            
            <h1>幢基本信息</h1>
            <fieldset>
                 <!-- style="display: none;" -->
                <div class="form-group" >
                    <label for="cname" class="col-sm-2 control-label">受理编号</label>
                    <div class="col-sm-10">
                        <input readOnly="readOnly" style="width:87%;display:inline-block;" name="projectNo" type="text" class="form-control ">
                        <button type='button' id="xmbhsh" class='btn btn-info deleteUserButton' style="width:12%;vertical-align:baseline;background:#1AB394;">生成编号</button>
                    </div>
                </div>
                <div class="form-group">
                     
                     <label for="contacts" class="col-sm-2 control-label">测绘类型</label>
                     <div class="col-sm-4">
                        <select name="chlx" id="chlx" class="form-control required"></select>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">幢号</label>
                     <div class="col-sm-5">
                        <input name="lpzh" type="text" class="form-control required">
                     </div>
                </div>
                
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">不动产权证号</label>
                     <div class="col-sm-4">
                        <input name="bdcqzh" type="text" class="form-control required">
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label" style="font-size: 11px">规划许可证号</label>
                     <div class="col-sm-5">
                        <input name="ghxkzh" type="text" class="form-control required">
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">建筑结构</label>
                     <div class="col-sm-4">
                        <select name="jzjg" id ="jzjg" class="form-control required"></select>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">总层数</label>
                     <div class="col-sm-5">
                        <input name="zcs" type="number" class="form-control zcsCode required" >
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">地下层数</label>
                     <div class="col-sm-4">
                        <input name="dxcs" type="number" class="form-control required" >
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">地上层数</label>
                     <div class="col-sm-5">
                        <input name="dscs" type="number" class="form-control required" >
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">规划用途</label>
                     <div class="col-sm-4">
                        <input type="text" name="ghyt" id="ghyt" type="text" class="form-control required"/>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">总建筑面积</label>
                     <div class="col-sm-5">
                        <input name="zjzmj" type="number" class="form-control required">
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">计容建筑面积</label>
                     <div class="col-sm-4">
                        <input type="text" name="jrjzmj" id="jrjzmj" type="number" class="form-control required"/>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">建筑总高度</label>
                     <div class="col-sm-5">
                        <input name="jzzgd" type="number" class="form-control required">
                     </div>
                </div>
                
                <div class="form-group">
                    <label for="contacts" class="col-sm-2 control-label">层高</label>
                     <div class="col-sm-4">
                        <input type="text" name="cg" id="cg" type="number" class="form-control required"/>
                     </div>
                     
                     <label for="contacts" class="col-sm-1 control-label">地坪标高</label>
                     <div class="col-sm-5">
                        <input name="snwdpbg" type="number" class="form-control required" placeholder="室内外地坪标高">
                     </div>
                </div>
                
                <div class="form-group" >
                    <label for="cname" class="col-sm-2 control-label">立面色彩材质</label>
                    <div class="col-sm-4">
                        <input name="lmsccz" type="text" class="form-control ">
                    </div>
                    
                    <label for="contacts" class="col-sm-1 control-label">正负零标高</label>
                     <div class="col-sm-5">
                        <input name="zflbg" type="number" class="form-control" placeholder="正负零标高">
                     </div>
                </div>
                
                
            </fieldset> 
            
           
           <h1>附件列表</h1>
           <fieldset>
                <div class="row">
                   <div class="form-group col-md-10">
                       <div class="bs-example" data-example-id="hoverable-table">
                       <table class="table table-hover" id="filestable">
                           <thead>
                           <tr>
                               <th width="350px;">附件名称</th>
                               <th>上传类型</th>
                               <th width="200px;">操作</th>
                           </tr>
                           </thead>
                           <tbody id="files">
                           </tbody>
                       </table>
                       </div>
                   </div>
               </div>
           </fieldset>
        </form>
    </div>
<#include "script.ftl"/>
<script src="/js/lib/fileinput/fileinput.min.js"></script>
<script src="/js/lib/fileinput/fileinput/zh.min.js"></script>
<script src="/js/jquery.steps.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/message_cn.js"></script>
<script type="text/javascript">
var id = getParameterByName('applyid');
$(document).ready(function(){
   initMesage();
   loadStype("commodity.house.chlx","chlx");
   loadStype("house.buildStructure.type","jzjg");
   $('#id').val(id);
   var index = 0;
   if(id){
	   index = 2;
   }
   $("#form").steps({
        bodyTag: "fieldset",
        labels: {
            finish:"最后一页",
            next:"下一步",
            previous:"上一步"
        },
        startIndex:index,
        onStepChanging: function (event, currentIndex, newIndex)
        {
            if (currentIndex > newIndex)
            {
                return true;
            }
            var form = $(this);

            if (currentIndex < newIndex)
            {
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            form.validate().settings.ignore = ":disabled,:hidden";

            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex)
        {
       	   if(currentIndex==1){
       		   
       		$('input[name=xmzl]').val($('input[name=projectXmzl]').val())
        }
        	
        },
        onFinishing: function (event, currentIndex)
        {
            
            var form = $(this);

            form.validate().settings.ignore = ":disabled";

            return form.valid();
        },
        onFinished: function (event, currentIndex)
        {
        	layer.alert("当前已是最后一页! ", {icon: 1});
            return ;
            
        },
        onInit:function(event, currentIndex, priorIndex){
        	
        }
    }).validate({
        errorPlacement: function (error, element)
        {
            element.before(error); 
        }
    }); 
   
   $("#xmbhsh").on("click", function() {
	   if(id){
		   layer.alert("编号不能修改! ", {icon: 1});
		   return;
	   }
       $.ajax({ url:"/commodityHouse/randomXmbh",dataType:"html", success: function(data){
           $('input[name=projectNo]').val(data)
           $('input[name=id]').val(data)
       },error: function(e,xhr,opt){
           layer.alert("生成失败! ", {icon: 2});
       }
       });
   });
});
</script>
<script>
var url = "/engineering";
var manageUrl = "/manage/engineering";
var id = getParameterByName('applyid');

$('#baseinfo').find('input,textarea,select').attr('readOnly',true);
$('#baseinfo').find('select').attr('disabled',true);
 
var insertUrl;
$('#id').val(id);
var mapfile = {};
var load = function() {

    var key = "engineering";
    $.ajax({ url:"/workFlow/filesByKey?key="+key, success: function(data){
        $.ajax({url:"/house/file/id?applyid=" + encodeURI(id),success: function(dataFile){
            var filestable = $("#files");
            filestable.empty();
            for (var i=0;i<data.length;i++)
            {
                var rowData = data[i];
                
                if(!rowData){
                    continue;
                }
                
                var files ;
                var siffFile;
                if(mapfile[rowData.id] == null){
                	files = dataFile[rowData.id];
                	siffFile = dataFile[rowData.id] === undefined?undefined:dataFile[rowData.id][0].fileId;
                }else{
                	files = mapfile[rowData.id];
                	siffFile = mapfile[rowData.id];
                }
                
                var filebutton = "";
                
                if(rowData.fileType === 'jpg'){
                    if(jQuery.isArray(files)){
                        filebutton = files === undefined?"":"<button type='button' onclick='viewJpgFile(" + JSON.stringify(files) + "," + JSON.stringify(rowData.fileType) + ");' class='btn btn-info btn-xs viewButton'>预览</button>";
                    }else{
                        filebutton = files === undefined?"":"<button type='button' onclick='viewfile(\""+files + "\",\""+rowData.fileType+"\");' class='btn btn-info btn-xs viewButton'>预览</button>";
                    }
                }else if(rowData.fileType === 'siff'){
                	filebutton = files === undefined?"":"<button type='button' onclick='openCad(\""+siffFile + "\");' class='btn btn-info btn-xs'>预览</button>";
                }else if(rowData.fileType === 'dwg'){
                	var btnfile = "<button type='button' onclick='downloadFile(\""+siffFile + "\");' class='btn btn-danger btn-xs'>下载</button>";
               	 	filebutton = files === undefined?"": btnfile;
                }else{
                    filebutton = files === undefined?"":"<button type='button' onclick='viewfile(\""+files[0].fileId + "\",\""+rowData.fileType+"\");' class='btn btn-info btn-xs viewButton'>预览</button>";
                }
               
                var row = "<tr><td hidden=>" + rowData.id +"</td><td hidden=>" + JSON.stringify(files) + "</td>"
                        + "<td style='text-align: left;'>" + rowData.fileName + "</td><td>" + rowData.fileType + "</td>"
                    row += "<td style='text-align: right;'>" + filebutton
                        + "</tr>";
                filestable.append(row);
            }
        }});
        
        $("#files ").on("click", ".loadButton", function() {
            var fileManageId = $(this).parents('tr').children().first().text();
            var allowedFileExtensions = $(this).parents('tr').children().first().next().next().next().text();
           
            if(allowedFileExtensions == "jpg"){
                var fileInput = $('<form class="form-horizontal" id="fileForm">'
                        + '<div class="form-group">'
                        + '<label for="codefile" class="col-sm-2 control-label">文件上传</label>'
                        + '<div class="col-sm-10">'
                        + '<input type="hidden" name="configFile" id="configFile" placeholder="请上传.rar、.doc文件" required="required">'
                        + '<a id="configFileDownload" hidden="hidden">下载</a>'
                        + '<input id="input-configfile" multiple type="file" data-show-caption="true" name="file" multiple class="file-loading">'
                        + '</div>'
                        + '</div>'
                        + '</form>');
                
                var content = $('#saveModal .modal-body');
                content.empty();
                content.append(fileInput);
                
                var qs = "";
                (function (fileInputId, fileField, validate) {
                    $("#" + fileInputId).fileinput({
                        language: 'zh', //设置语言
                        allowedFileExtensions: ['jpg','png'],//接收的文件后缀
                        uploadAsync: true, //默认异步上传
                        showUpload: false, //是否显示上传按钮
                        showRemove : true, //显示移除按钮
                        showPreview : false, //是否显示预览
                        showCaption: false,//是否显示标题
                        browseClass: "btn btn-primary", //按钮样式
                        enctype: 'multipart/form-data',
                        validateInitialCount:true,
                        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                        uploadUrl: '/files/insert'
                    }).on("filebatchselected", function(event, files) {
                        $(this).fileinput("upload");
                        qs = [];
                    }).on('filecleared', function(event) {
                        $("#" + fileField).val("");
                        qs = [];
                        $("#" + fileField + "Download").hide();
                    }).on("fileuploaded", function(event, data) {
                        if(data.response) {
                            if(qs == "" || qs =='null'){
                                qs += data.response;
                            }else{
                                qs += "," + data.response;
                            }
                            mapfile[fileManageId] = qs;
                            $("#" + fileField).val(qs);
                            $("#" + fileField + "Download").hide();
                            $('#saveModal').modal('hide');
                            load();
                        }
                    });
                })("input-configfile", "configFile");
            }else{
                var fileInput = $('<form class="form-horizontal" id="fileForm">'
                        + '<div class="form-group">'
                        + '<label for="codefile" class="col-sm-2 control-label">文件上传</label>'
                        + '<div class="col-sm-10">'
                        + '<input type="hidden" name="configFile" id="configFile" placeholder="请上传.rar、.doc文件" required="required">'
                        + '<a id="configFileDownload" hidden="hidden">下载</a>'
                        + '<input id="input-configfile" type="file" name="file" multiple class="file-loading">'
                        + '</div>'
                        + '</div>'
                        + '</form>');
                
                var content = $('#saveModal .modal-body');
                content.empty();
                content.append(fileInput);
                
                (function (fileInputId, fileField, validate) {
                    $("#" + fileInputId).fileinput({
                        language: 'zh', //设置语言
                        allowedFileExtensions: [allowedFileExtensions],//接收的文件后缀
                        msgInvalidFileExtension: '不正确的文件扩展名 "{name}". 只支持 "{extensions}"格式的文件.',
                        msgValidationError: '类型不正确',
                        elErrorContainer: '#kartik-file-errors',
                        showPreview : false, //显示预览 
                        showUpload: false,
                        showRemove:true,
                        maxFileCount: 1,
                        autoReplace:false,
                        uploadUrl: '/files'
                    }).on("filebatchselected", function(event, files) {
                        $(this).fileinput("upload");
                    }).on('filecleared', function(event) {
                        $("#" + fileField).val("");
                        $("#" + fileField + "Download").hide();
                    }).on("fileuploaded", function(event, data) {
                        if(data.response) {
                            mapfile[fileManageId] = data.response.id;
                            $("#" + fileField).val(data.response.id);
                            $("#" + fileField + "Download").hide();
                            $('#saveModal').modal('hide');
                            load();
                    }});
                })("input-configfile", "configFile");
            }
       
           $('#saveModal').modal('show');
           $('input[name=fileManageId]').val(fileManageId)
        });
        
    }});

    loadStype("commodityhouse.project.projectType","projectType");
    
    if(id){
         $.ajax({ url: url + "/getOne?id=" + encodeURI(id), success: function(obj){
            $('input[name=id]').val(obj.id)
            $('input[name=proName]').val(obj.proName)
            $('input[name=proXmzl]').val(obj.proXmzl)
            $('input[name=tdsymj]').val(obj.tdsymj)
            $('input[name=tdyt]').val(obj.tdyt)
            $('input[name=tdsyqlx]').val(obj.tdsyqlx)
            $('input[name=tdsynx]').val(obj.tdsynx)
            $('input[name=jsdw]').val(obj.jsdw)
            $('input[name=jsdwCode]').val(obj.jsdwCode)
            $('input[name=lxr]').val(obj.lxr)
            $('input[name=lxdh]').val(obj.lxdh)
            $('input[name=chdw]').val(obj.chdw)
            $('input[name=chdwCode]').val(obj.chdwCode)
            $('input[name=chdwlxr]').val(obj.chdwlxr)
            $('input[name=chdwlxdh]').val(obj.chdwlxdh)
            $('input[name=rjl]').val(obj.rjl)
            $('input[name=jzmd]').val(obj.jzmd)
            
            $('input[name=projectNo]').val(obj.id)
            $('input[name=lpzh]').val(obj.lpzh)
            $('input[name=bdcqzh]').val(obj.bdcqzh)
            $('input[name=ghxkzh]').val(obj.ghxkzh)
            $('input[name=jzjg]').val(obj.jzjg)
            $('input[name=zcs]').val(obj.zcs)
            $('input[name=dscs]').val(obj.dscs)
            $('input[name=dxcs]').val(obj.dxcs)
            $('input[name=ghyt]').val(obj.ghyt)
            $('input[name=zjzmj]').val(obj.zjzmj)
            $('input[name=jrjzmj]').val(obj.jrjzmj)
            $('input[name=jzzgd]').val(obj.jzzgd)
            $('input[name=cg]').val(obj.cg)
            $('input[name=snwdpbg]').val(obj.snwdpbg)
            $('input[name=lmsccz]').val(obj.lmsccz)
            $('input[name=zflbg]').val(obj.zflbg)
            
            //loadStype("commodityhouse.project.projectType","projectType",obj.projectType);
            loadStype("apply.gc.chlx","chlx",obj.chlx);
            loadStype("house.buildStructure.type","jzjg",obj.jzjg);
        }}); 
         
    }
    
};
var loadStype = function(configPrefix,table,aptitude) {
    $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefix, success: function(data){
        var tables = $("#" + table + "");
        tables.empty();
        $.each(data,function(index,obj){
            var arr = obj.value;
            var strs= new Array();
            strs = arr.split(",");
            for(var i=0;i<strs.length ;i++){
                var rowData = strs[i];
               	if(typeof(aptitude) == 'undefined' || aptitude == null){
               		aptitude = "-fail";
               	}
                if(aptitude.search(rowData) != -1){
                    tables.append("<option value='"+rowData+"' selected>" + rowData + "</option>");
                }else{
                    tables.append("<option value='"+rowData+"'>" + rowData + "</option>");
                }
            }
        });
    }});
};

var loadBuildNos = function(table,params) {
    var tables = $("#" + table + "");
    tables.empty();
    $("#buildings").find('tr').each(function(i,v){
        var lpzh = $(v).find("td:eq(2)").text();
        if(params == lpzh){
            tables.append("<option value='"+lpzh+"' selected>" + lpzh + "</option>");
        }else{
            tables.append("<option value='"+lpzh+"'>" + lpzh + "</option>");
        }
     });
};

function isJSON(str) {
    if (typeof str == 'string') {
        try {
            var obj=JSON.parse(str);
            if(typeof obj == 'object' && obj ){
                return true;
            }else{
                return false;
            }

        } catch(e) {
            return false;
        }
    }
}

function download(fileId,configPrefixServer){
    SIDraw.CancelCmd();
    $.ajax({ url:"/house/configs/systype?configPrefix=" + configPrefixServer, success: function(service){
        SIDraw.DownloadData("http://" + service[0].value +"/open/files/" + fileId, "");
    }});
}

function openCad(fileId){
    layer.open({
      type: 2, //Layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）,
      shade:0.1, //遮罩层透明度
      area:['100%','100%'], //弹出层宽高
      title:'CAD图查看',//弹出层标题
      content: ['cad.html?fileid='+fileId, 'no']
    });
}

load();
</script>
</body>
</html>